<form action="/cart" method="post">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <button type="submit" class="btn btn-info" value="<%= product._id %>">افزودن به سبد خرید</button>
</form>