<nav aria-label="Page navigation example" style="display:flex;justify-content:center;align-items:center; ">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" href="/">Home</a>
    </li>
    <li class="page-item <%= path==='/?page=1' ? 'active' : '' %>">
      <a class="page-link" href="/?page=1">1</a>
    </li>
    <li class="page-item <%= path==='/?page=2' ? 'active' : '' %>">
      <a class="page-link" href="/?page=2">2</a>
    </li>
    <li class="page-item <%= path==='/?page=3' ? 'active' : '' %>">
      <a class="page-link" href="/?page=3">3</a>
    </li>
  </ul>
</nav>