<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrom=1" />
  <title><%= pageTitle  %></title>
  <base href="/">
  <!-- <link rel="stylesheet" href="../public/css/main.css"  type="text/css"/> -->
  <link rel="stylesheet" href="./css/main.css" type="text/css" />
  <link rel="stylesheet" href="./css/order.css" type="text/css" />
  <!-- <link rel="stylesheet" href="./css/slider.css" type="text/css" /> -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="../public/css/product.css" type="text/css"/> -->
  <link rel="stylesheet" href="./css/product.css" type="text/css" />
  <link rel="stylesheet" href="./css/cart.css" type="text/css" />
<style>
  
</style>
</head>

<body>
      <div class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight" style="background-image:url(images/slider-1.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                <div class="text w-100 text-center">
                  <h2>Best Place to Travel</h2>
                  <h1 class="mb-3">Norway</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="slider-item js-fullheight" style="background-image:url(images/slider-2.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                <div class="text w-100 text-center">
                  <h2>Best Place to Travel</h2>
                  <h1 class="mb-3">Japan</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="slider-item js-fullheight" style="background-image:url(images/slider-2.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                <div class="text w-100 text-center">
                  <h2>Best Place to Travel</h2>
                  <h1 class="mb-3">Singapore</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/main.js"></script>
    </body>
  </html>
</html>