<%- include('../includes/head.ejs') %> <%- include('../includes/heading.ejs') %>


<h3 style="padding:5% 11%;">ایمیلی همراه با اطلاعات  خصوصی برای شما ارسال شد . لطفا روی لینک داخل ایمیل کلیک فرمایید</h3>


<%- include('../includes/end.ejs') %>